# Operating System Files
# ======================
# macOS
.DS_Store

# Python Bytecode
# ===============
__pycache__/
*.py[cod]

# Virtual Environments
# =====================
env/
venv/
test_env/
llamacpp_test/

# Jupyter Notebook
# ================
.ipynb_checkpoints/

# IDE Files
# =========
# VSCode
.vscode/
*.code-workspace

# Data Files
# ==========
data/processed/
data/raw/
data/gguf_folder/
_non_code_env_related/

# HPC Output Files
/error_*.err
/nvidia_smi_log_*.txt
/output_*.out

# Archived Files
# ==============