# Operating System Files
# ======================
# macOS
.DS_Store

# Python Bytecode
# ===============
__pycache__/
*.py[cod]

# Virtual Environments
# =====================
env/
venv/
test_env/
llama_env/
llamacpp_test/

# Jupyter Notebook
# ================
.ipynb_checkpoints/

# IDE Files
# =========
# VSCode
.vscode/
*.code-workspace

# Data Files
# ==========
data/raw/*
data/raw_manual/
data/sharepoint_reorg_files/
data/gguf_folder/
_non_code_env_related/

# Logging Files
# ==========
wandb/

# HPC Output Files
/error_*.err
/nvidia_smi_log_*.txt
/output_*.out

# .env Files
# ==========
.env

# Archived Files
# ==============